@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  /* Primary colours */
  --color-bluespruce: #003b63;
  --color-energy: #45cfcc;
  --color-basalt: #58595b;

  /* Accent colours */
  --color-energy-100: #B6F2F1;  
  --color-energy-400: #7BE8E6;
  --color-energy-700: #2AB5B2;
  --color-energy-800: #118280;

  /* Success colours */
  --color-success-400: #5CE5A1;
  --color-success-600: #00CC66;
  --color-success-800: #00994D;

  /* Error colours */
  --color-error-400: #F7988B;
  --color-error-600: #DF4E39;
  --color-error-800: #AB3C2C;

  /* Neutral colours */
    --color-neutral-50: #F4F7F9;
    --color-neutral-100: #ECF1F4;
    --color-neutral-200: #E4E9EE;
    --color-neutral-300: #D6DDE2;
    --color-neutral-400: #BDC9D3;
    --color-neutral-500: #B3BCC5;
    --color-neutral-600: #86929D;
    --color-neutral-700: #646E77;
    --color-neutral-800: #3B444D;
    --color-neutral-900: #1D2328;

  /* Secondary colours */
  --color-slate: #92aec5;
  --color-pine: #135908;
  --color-donate: #00cc66;
  --color-solar: #ffcb00;
  --color-deficient: #e04d39;
  --color-coal: #323232;
  --color-calm: #e1e6f0;

  /* Secondary plotting colours with shades */
  --color-solar-100: #ffeda9;
  --color-solar-200: #ffe480;
  --color-solar-400: #ffdd00;
  --color-solar-800: #c85c19;
  --color-pinishgreen-100: #b2e6b2;
  --color-pinishgreen-200: #99d699;
  --color-pinishgreen-400: #408026;
  --color-pinishgreen-800: #11431b;
  --color-rmipurple-100: #c7c4e2;
  --color-rmipurple-200: #a59fce;
  --color-rmipurple-400: #7b76ad;
  --color-rmipurple-800: #3e3969;
  --color-rmiblue-100: #c9e3f0;
  --color-rmiblue-200: #9bcce3;
  --color-rmiblue-400: #529cba;
  --color-rmiblue-800: #005d7f;
  --color-rmired-100: #eec7b7;
  --color-rmired-200: #df897b;
  --color-rmired-400: #c4151c;
  --color-rmired-800: #790000;
  --color-rmigray-100: #e6e7e8;
  --color-rmigray-200: #a7a9ac;
  --color-rmigray-300: #808284;
  --color-rmigray-400: #58585b;
  --color-rmigray-500: var(--color-rmigray-400);
  --color-rmigray-600: var(--color-rmigray-400);
  --color-rmigray-700: #231f20;
  --color-rmigray-800: #231f20;

}
