---
name: Backmerge production to main
concurrency: backmerge-production-to-main

on:
  workflow_dispatch:
  push:
    branches:
      - production

permissions:
  contents: read

jobs:
  backmerge:
    runs-on: ubuntu-latest
    name: backmerge
    steps:
      - uses: actions/checkout@v6
      - name: Create Pull Request
        id: create-pr
        run: |
          PR_URL=$(
            gh pr create \
              --base main \
              --head production \
              --title 'Backmerge `production` to `main`' \
              --body 'Automatic backmerge. Created by GitHub action. Triggered by closing PR #${{ github.event.number }}'
            )
          echo "pr-url=$PR_URL"
          echo "pr-url=$PR_URL" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
